:root {
    --primary-color: #AE5D26;
    /* --secondary-color: #ffd4d4; */
    --secondary-color: #000000;
}  

*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana,sans-serif;
    line-height: 1.5;
}

.top-header{
    display: flex;
    justify-content:center;
    gap: 20%;
    align-items: center;
    width: 100%;
    min-height: 100px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    color: var(--secondary-color); 
    padding: 10px;
    font-size: larger;
    font-size: 30px;
}
.brand{
    display: flex;
    align-items: center;
    width: inherit;
    margin-left: 10%;
}
.brand > div{
    margin: 10px;
}
.logo > img{
    width: 70px;
}
.cart{
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 10%; */
}
.container{
    display: grid;
    place-items: center;
    width: 100vw;
    background-color: aquamarine;
}
.product-list{
    display: flex;
    justify-content: center;
}
.intro-space{
    margin: 20px;
    width: 80%;
    height: 40vh;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;
}
.intro-image{
    height: 90%;
    width: 80%;
    background-color: #000000;
    border-radius: 2%;
    color: white;
    
}

/* this is for slider section  */
/* Keyframes for sliding animation */
@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
  
 

.category-slider {
    margin: 30px;
    width: 100%;
    overflow: hidden;
}
.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

  /* Apply sliding animation to slider */
    .slider {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    animation: slide 100s infinite; /* Adjust duration as needed */
  }
    /* Ensure all list items have the same width */
.slider li {
        flex: 0 0 50%; /* Display four items at a time */
    }
.slider li img {
    width: 350px;
    height: 350px;
    display: block;
    margin: 0 auto 10px;
}
.slider li span {
    display: block;
  }
  .randItem{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .randItem:nth-child(odd) {
    background-color: #f9f9f9; /* Alternate background colors */
  }
  
  .randItem:nth-child(even) {
    background-color: #eaeaea; /* Alternate background colors */
  }
  
/* the slider section will end here */