:root {
    --primary-color: #AE5D26;
    /* --secondary-color: #ffd4d4; */
    --secondary-color: #000000;
}  

*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana,sans-serif;
    line-height: 1.5;
}

.top-header{
    display: flex;
    justify-content:center;
    gap: 20%;
    align-items: center;
    width: 100%;
    min-height: 100px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    color: var(--secondary-color); 
    padding: 10px;
    font-size: larger;
    font-size: 30px;
}
.brand{
    display: flex;
    align-items: center;
    width: inherit;
    margin-left: 10%;
}
.brand > div{
    margin: 10px;
}
.logo > img{
    width: 70px;
}
.cart{
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 10%; */
}
.container{
    display: grid;
    place-items: center;
    width: 100vw;
    background-color: aquamarine;
}
.product-list{
    display: flex;
    justify-content: center;
}